:root {
  --background: #101010;
  --primary: #00babc;
  --secondary: #282828;
  --text: #ffffff;
  --button-hover: #007d7d;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  background-color: var(--primary);
  padding: 20px;
  text-align: center;
  position: relative;
}

.header h1 {
  margin: 0;
  color: var(--text);
}

.main {
  padding: 20px;
  flex-grow: 1;
}

.staking-section {
  max-width: 500px;
  margin: auto;
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 10px;
}

.info-box {
  margin-bottom: 20px;
}

.login-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: var(--primary);
  border: 2px solid var(--text);
  color: var(--text);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--button-hover);
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary);
  color: var(--text);
}
